<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" class="css">
    <title>Product Index</title>
</head>
<body>
    <nav>
        <a href="/products/new">Create a New Product</a>
    </nav>
    <h1> Product Index Page</h1>
        <% products.forEach(product => { %>
                <ul type="none">
            <li>
                <a href="/products/<%=product._id%>"> <%=product.name; %></a>
                <a href="/products/<%=product._id%>"><img src="<%=product.img%>" alt=""></a>
                <p class="price">$<%=product.price%></p>
                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/products/<%=product._id%>/edit">Edit</a>
            </li>
            </ul>
        <% }) %>
        </div>
    
</body>
</html>
