<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
</head>
<body>
    <h1><%=product.name%></h1>
    <img src="<%=product.img%>" alt="">
    <p>Price: <%=product.price%></p> <br>
    <p>Quantity: <%=product.qty%></p>
    <a href="/products">Return to Index</a>
    <a href="/products/edit">Edit Product</a>
    <button>Delete</button>
</body>
</html>